:root {
  --background: #111;
  --midground: #333;
  --foreground: #555;
  --light: #777;
  --font: #fff;
  --primary: #3d80e4;
  --danger: #cf3232;
  --family-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

* {
  font-family: var(--family-font);
  box-sizing: border-box !important;
}

code {
  font-family: monospace;
  background-color: #282c34;
  color: var(--font);
  padding: 4px;
  border-radius: 4px;
  font-size: 0.85em;
  text-align: left;
  margin: 10px 0;
}

pre {
  background-color: #282c34;
  color: var(--font);
  padding: 0.5em;
  border-radius: 4px;
  overflow: auto;
  font-family: monospace;
  font-size: 0.85em;
  line-height: 1.4;
  margin: 10px 0;
  border: 1px solid var(--foreground);
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th,
td {
  border: 1px solid var(--foreground);
  padding: 0.6em 0.8em;
  text-align: left;
}

th {
  background-color: var(--midground);
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--primary);
  background-color: var(--midground);
  padding: 0.5em;
  margin: 10px 0;
  color: var(--font);
  border-radius: 4px;
}

blockquote blockquote {
  margin-bottom: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
div#root {
  color: var(--font);
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

div#root {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: calc(100vw - 10px);
  height: calc(100vh - 20px);
}

a {
  color: rgb(239, 158, 255);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: rgb(232, 114, 255);
}

button,
input,
textarea,
.file-upload-label {
  background-color: var(--midground);
  color: var(--font);
  border-radius: 5px;
  padding: 5px;
  border: none;
  font-size: 15px;
  transition: background-color 0.2s ease, scale 0.2s ease;
  box-sizing: border-box;
}

textarea {
  width: 40%;
  height: fit-content;
}

button, .file-upload-label {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

button:active, .file-upload-label:active {
  scale: 0.97;
}

button i {
  margin-right: 5px;
}

hr,
div.line {
  width: 100%;
  height: 2px !important;
  opacity: 0.1;
  background-color: var(--font);
  flex-shrink: 0;
}

div.vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

div.horizontal {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

div.horizontal.fit-all,
div.horizontal.fit-all * {
  height: fit-content;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--midground);
  border-radius: 10px;
}

:disabled {
  filter: opacity(0.5);
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  shape-rendering: optimizeSpeed;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.alertNewDot {
  position: relative;
}

.alertNewDot::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #ff4242;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.loadingAnim {
  display: flex;
  flex-direction: row;
  color: var(--font);
  gap: 0.3em;
  font-size: 40px;
  padding: 0;
  margin: 0;
  justify-items: center;
  align-items: center;
}

.loadingAnim .spinner {
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid rgb(153, 116, 255);
  height: 1.5em;
  width: 1.5em;
  animation: spin 0.7s infinite ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(1.3);
    transform-origin: center;
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 7px #ffffffbd;
  }

  25% {
    box-shadow: 0 0 13px #ffffffbd;
  }

  50% {
    box-shadow: 0 0 7px #ffffffbd;
  }

  75% {
    box-shadow: 0 0 13px #ffffffbd;
  }

  100% {
    box-shadow: 0 0 0px #ffffffbd;
  }
}

@keyframes loud {
  0% {
    font-weight: unset;
  }

  25% {
    font-weight: 900;
  }

  50% {
    font-weight: 900;
  }

  100% {
    font-weight: unset;
  }
}

.zoomIn {
  animation: zoomIn 0.5s cubic-bezier(0.8, 0.7, 0.4, 0.2);
}

.glow {
  animation: glow 3s ease-in-out;
}

.loud div.vertical p:not(.grey) {
  animation: loud 4s ease 0.5s;
}

.spoiler {
  filter: blur(4px);
  transition: filter 0.2s ease;
  will-change: filter;
}

.spoiler:hover {
  filter: blur(0px);
}

.login-container {
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.login-container strong {
  background: linear-gradient(90deg, #f679ff, #7186ff);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.login-form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--midground);
  padding: 14px;
  border-radius: 10px;
}

.login-form input,
.login-form button {
  font-size: 25px;
  background-color: var(--foreground);
  border: none;
  border-radius: 10px;
  padding: 7px;
  color: var(--font);
}

.panel-content {
  padding: 10px;
  width: 100%;
  display: flex;
  flex: 1;
  gap: 10px;
  font-size: 20px;
  flex-direction: column;
  align-items: start;
  align-content: start;
  overflow: auto;
}

.panel-content p {
  padding: 0;
  margin: 0;
}

.panel-content p.title {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.panel-content p.title.small {
  font-size: 30px;
  gap: 8px;
}

.panel-content p.title.smaller {
  font-size: 20px;
  gap: 6px;
}

.panel-content p.title img,
.panel-content p.title div img {
  width: 60px;
  height: 60px;
  border-radius: 25%;
}

.panel-content .alerts-notification {
  background-color: var(--foreground);
  border-radius: 10px;
  padding: 10px;
}

.panel-content .posts-post {
  background-color: var(--midground);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.panel-content .posts-post.unread {
  background-color: var(--midground);
}

.panel-content .posts-post img {
  align-self: flex-start;
  justify-self: center;
  border-radius: 25%;
  width: 53px;
  height: 53px;
}

.panel-content .posts-post a:has(img) {
  margin: 0;
  padding: 0;
  text-decoration: none;
  height: 53px;
}

.panel-content .posts-post div {
  justify-content: left;
  align-items: start;
  height: fit-content;
}

.panel-content .posts-post div p {
  overflow: hidden;
  word-break: break-all;
  text-align: left;
  height: fit-content;
  padding-bottom: 3px;
}

.panel-content .posts-post div p.grey {
  overflow: hidden;
  word-break: break-all;
  text-align: left;
  color: var(--light);
  font-size: 15px;
}

.panel-content .posts-post div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.panel-content .posts-post div.buttons button {
  border: 2px solid #444;
}

.panel-content .post-page-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.panel-content .post-page-buttons button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settingsWrap {
  background-color: var(--midground);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
}

.settings button, .settings .file-upload-label {
  background-color: var(--foreground);
  width: fit-content;
  height: fit-content;
}

.settings .file-upload-label {
  background-color: var(--foreground);
  max-width: 180px;
  height: fit-content;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.toolbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  background-color: var(--midground);
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.toolbar *,
.toolbar * * {
  align-items: center;
}

.toolbar .localusertag {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  padding: 4px;
  margin: 0;
  border-radius: 10px;
  width: 160px;
}

.toolbar .localusertag p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.toolbar .localusertag img {
  height: 30px;
  width: 30px;
  border-radius: 25%;
  margin: 0;
  padding: 0;
}

.toolbar-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.toolbar-logo {
  color: var(--font);
  text-decoration: none;
  font-size: 0;
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
}

.toolbar-logo img {
  width: 100%;
  height: 100%;
}

.toolbar-links {
  list-style: none;
  display: flex;
  flex-direction: inherit;
  gap: 15px;
  padding: 0;
}

.toolbar-links a {
  position: relative;
  color: var(--font);
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.toolbar-links a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.2s ease, box-shadow 0.2s ease;
  box-shadow: none;
}

.toolbar-links a:hover::before {
  width: 100%;
  box-shadow: 0px 0px 2px white;
}

.toolbar-links a i {
  margin-right: 8px;
}

@media (max-width: 768px) {
  div#root {
    flex-direction: column;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
  }

  .panel-content {
    padding: 0;
    margin-top: 10px;
    padding-right: 10px;
  }

  .toolbar {
    width: 100%;
    height: fit-content;
    flex-direction: row;
  }

  .toolbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-btn {
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--font);
    cursor: pointer;
    margin-left: auto;
  }

  .toolbar-links {
    display: none;
    position: absolute;
    width: fit-content;
    top: 70px;
    left: 10px;
    background-color: var(--foreground);
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000000;
    border-radius: 10px;
  }

  .toolbar-links.open {
    display: flex;
  }
}

.swal2-popup,
.swal2-toast {
  font-family: var(--family-font);
  box-sizing: border-box;
  color: var(--font);
  background-color: var(--midground);
  border-radius: 10px;
}

.swal2-styled {
  color: var(--font);
  background-color: var(--foreground);
  background-image: none !important;
  border-radius: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  font-size: 15px;
  font-weight: 400;
  font-size: 20px;
  transition: opacity 0.2s ease;
}

.swal2-styled:hover {
  opacity: 0.9;
}

.swal2-confirm {
  background-color: var(--primary);
}

.swal2-deny {
  background-color: var(--danger);
}

div.online-indicator {
  position: relative;
  display: inline-block;
}

div.online-indicator::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  background-color: #58cc5c;
  outline: 3px solid var(--background);
  border-radius: 50%;
}

img.emoji-inline {
  width: 1.7em !important;
  height: 1.7em !important;
  vertical-align: -0.425em;
}

div.emoji-panel {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--midground);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  z-index: 1000;
}

.emoji-panel-header {
  font-weight: bold;
  cursor: inherit;
  text-align: center;
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(6, 48px);
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
  width: auto;
}

img.emoji-picker-item {
  width: 48px;
  transition: background-color 0.2s ease;
  padding: 4px;
  border-radius: 8px;
}

img.emoji-picker-item:hover {
  cursor: pointer;
  background-color: var(--foreground);
}
